<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>

    <style>

        .color1{
            background-color: darkolivegreen;
        }
        .color2{
            background-color: orangered;
        }

        table tr td{
            height: 40px;
            width: 40px;
        }
    </style>

</head>
<body>
    <h1>Checkerboard!</h1>
        <table>
            {% for i in range(x): %}
            <tr>
                {% for j in range(x): %}
                <td class = 'color1'></td>
                <td class = 'color2'></td>
                {% endfor %}
            </tr>
            <tr>
                {% for r in range(x): %}
                <td class = 'color2'></td>
                <td class = 'color1'></td>
                {% endfor %}
            </tr>
            <tr>
                {% for n in range(x): %}
                <td class = 'color1'></td>
                <td class = 'color2'></td>
                {% endfor %}
            </tr>
            <tr>
                {% for j in range(y): %}
                <td class = 'color2'></td>
                <td class = 'color1'></td>
                {% endfor %}
            </tr>
            <tr>
                {% for r in range(y): %}
                <td class = 'color1'></td>
                <td class = 'color2'></td>
                {% endfor %}
            </tr>
            <tr>
                {% for n in range(y): %}
                <td class = 'color2'></td>
                <td class = 'color1'></td>
                {% endfor %}
            </tr>
        
        </table>
        {% endfor %}
</body>
</html>