<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Authors</title>
</head>
<body>
        <h1>{{author.name}}'s Favorites</h1>
        <table>
            <!-- <form action='/author/create' method='POST'> -->
                {{author.name}}
                {% for author in book.author %}
                <p>Title:{{books.title}}</p>
                <p># of pages:{{book.num_of_pages}}</p>
                {% endfor %}
                <input type='submit'>
            <!-- </form> -->
    </table>
    <a href="/authors">Home</a>
</body>
</html>
